div#efbad92069e12a5f085de0746b853ab {
  position: absolute;
  top: var(--header-offset, 0);
  left: 0;
  bottom: 0;
  right: 0;

  min-height: 100vh;

  &.fixed {
    position: fixed;
  }

  z-index: 2147483647;
  mix-blend-mode: multiply;

  padding: 0;
  margin: 0;

  pointer-events: none;
}